<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://JAVA.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
      <servlet-name>Login</servlet-name>
      <jsp-file>/admin/login.jsp</jsp-file>
 	</servlet>
 	
	<servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/admin/login</url-pattern>
        <url-pattern>/admin/login.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>Home</servlet-name>
      <jsp-file>/admin/dashboard/index.jsp</jsp-file>
 	</servlet>
 	
	<servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    
    <filter>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<description>
		</description>
		<filter-class>br.com.bank.atutenticacao.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/AdminFilter</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
 	 	 
	<servlet>
		<description>
		</description>
		<display-name>ContatoServlet</display-name>
		<servlet-name>ContatoServlet</servlet-name>
		<servlet-class>br.com.bank.controller.ContatoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UsuarioServlet</display-name>
		<servlet-name>UsuarioServlet</servlet-name>
		<servlet-class>br.com.bank.controller.UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContatoServlet</servlet-name>
		<url-pattern>/contatoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsuarioServlet</servlet-name>
		<url-pattern>/usuarioServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
	  <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>